@media screen and (max-width: 1024px)
 {
  font-size: 1em
    {
    width: auto;
    height: auto;
    /* responsive */
  }
}
body {
  background-color: #9CB7BF;
  /* fond de la page */
}
table,td {
  border:1px solid black;
  /* création de bordur */
  }
h1 {
  text-align: center;
  color: #404D58;
}
h2 {
  text-align: center;
  color: #408459;
}
div {
  display: inline-table;;
  margin: 20px;
  max-width: 45%;
}
